# Default server
server {
	listen 8080;
	server_names test.com www.test.com;
	limit_client_body_size 500MB;

	location / {
		index index.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods POST, GET;
	}
	
	location /delete {
		index delete.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods DELETE;
	}

	error_page 404 /404.html;
	error_page 500 /500.html;
}

# Default server
server {
	listen 1010;
	server_names haha.com www.haha.com;
	limit_client_body_size 500MB;

	location / {
		index index.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods POST, GET;
	}
	
	location /delete {
		index delete.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods DELETE;
	}

	error_page 404 /404.html;
	error_page 500 /500.html;
}