# Default server
server {
	listen 1010;
	location / {
	    accepted_methods GET;
	}
}

# Second server
server {
	listen 1010;
	server_names test.com www.test.com;
	limit_client_body_size 5MB;

	location / {
		index index.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods DELETE;
		redirect https://cdn.intra.42.fr/pdf/pdf/139962/en.subject.pdf;
		default_file index.html;
	}
	
	location /test {
	    upload_dir /path/to/upload/directory;
	    accepted_methods POST, GET;
	}

	error_page 404 /404.html;
	error_page 500 /500.html;
}