# Default server
server {
	listen 8080;
	server_names example.com www.example.com;
	limit_client_body_size 10M;

	location /upload {
	    upload_dir /path/to/upload/directory;
	    accepted_methods POST;
		autoindex on;
		redirect https://cdn.intra.42.fr/pdf/pdf/139962/en.subject.pdf;
	}

	error_page 404 /404.html;
	error_page 500 /500.html;
}

# Second server
server {
	listen 1010;
	server_names test.com www.test.com;
	limit_client_body_size 5MB;

	location / {
	    upload_dir /path/to/upload/directory;
	    accepted_methods DELETE;
		redirect https://cdn.intra.42.fr/pdf/pdf/139962/en.subject.pdf;
	}
	
	location /test {
	    upload_dir /path/to/upload/directory;
	    accepted_methods POST, GET;
	}

	error_page 404 /404.html;
	error_page 500 /500.html;
}