server {
	listen 9000;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
		autoindex on;
		upload_dir /Users/alaalalm/Desktop/webserv/Html;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9001;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9002;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9003;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}


server {
	listen 9004;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9005;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}
server {
	listen 9006;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9007;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}
server {
	listen 9008;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9009;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9010;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9011;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9012;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9013;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9014;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9015;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9016;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9017;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9018;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9019;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}

server {
	listen 9020;
	server_names localhost 127.0.0.1;
	limit_client_body_size 500MB;
	root_folder /Users/alaalalm/Desktop/webserv/Html;
	
	location / {
			index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	# error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}