server {
	listen 8000;
	server_names localhost;
	limit_client_body_size 500MB;
	root_folder /Users/aitaouss/Desktop/web-serve/Html;
	
	location / {
		autoindex on;
		upload_dir /Users/aitaouss/Desktop/web-serve/Html;
	    accepted_methods GET, POST;
	}
	
	location /delete {
		autoindex off;
		index delete.html;
	    accepted_methods GET;
	}
	
	location /login {
		index login.html;
	    upload_dir /path/to/upload/directory;
	    accepted_methods GET, POST;
	}

	error_page 404 errors/404.html;
	error_page 405 errors/405.html;
	error_page 500 errors/500.html;
}